<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value="DATPT\DATPT"/>
		<add key="Database" value="QC_Managment"/>
		<add key="Username" value="sa"/>
		<add key="Password" value="datpt12091996"/>
		<add key="Entropy" value=""/>
	</appSettings>

	<startup useLegacyV2RuntimeActivationPolicy="true" />
</configuration>